# What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized in a way to facilitate efficient storage, retrieval, and management of information.


Certainly! Here's a concise summary of the differences between SQL and NoSQL databases:

Data Model:

SQL: Follows a structured, predefined schema with tables.
NoSQL: No strict schema; uses various models like document-oriented, key-value pairs, column-family, or graph databases.

Scalability:

SQL: Scales vertically by upgrading hardware; can be costly.
NoSQL: Scales horizontally by adding more servers; cost-effective and handles large datasets.

Schema:

SQL: Requires a predefined schema; changes may be complex and downtime-prone.
NoSQL: Schema-less or flexible, accommodating dynamic data structures without downtime.

Transaction Support:

SQL: Strong support for ACID properties, suitable for data integrity-critical applications.
NoSQL: Varies in ACID support; some sacrifice strict consistency for performance and scalability.

Use Cases:

SQL: Well-suited for applications with complex queries, relationships, and transactional requirements.
NoSQL: Suitable for rapidly changing data, large datasets, and distributed or horizontally scalable architectures in scenarios prioritizing flexibility and scalability.

# What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL, or Data Definition Language, is a subset of SQL (Structured Query Language) used for defining and managing the structure of a database. DDL statements allow you to perform operations on the database schema, such as creating, modifying, or deleting tables and other database objects. Common DDL statements include CREATE, DROP, ALTER, and TRUNCATE.

CREATE:
The CREATE statement is used to create new database objects, such as tables, indexes, or views.
Example:
sql
Copy code
CREATE TABLE employees (
  employee_id INT PRIMARY KEY,
  first_name VARCHAR(50),
  last_name VARCHAR(50),
);
This SQL statement creates a table named "employees" with columns for employee ID, first name, last name, and hire date.

DROP:
The DROP statement is used to delete existing database objects, such as tables, indexes, or views.
Example:
sql
Copy code
DROP TABLE employees;
This SQL statement deletes the "employees" table, removing it from the database.

ALTER:
The ALTER statement is used to modify the structure of existing database objects, such as adding, modifying, or dropping columns in a table.
Example:
sql
Copy code
ALTER TABLE employees
ADD COLUMN department_id INT;
This SQL statement adds a new column named "department_id" to the "employees" table.

TRUNCATE:
 The TRUNCATE statement is used to remove all rows from a table, but the table structure and its columns remain intact.
Example:
sql
Copy code
TRUNCATE TABLE employees;
This SQL statement removes all rows from the "employees" table, leaving the table structure intact. It is faster than DELETE for removing all data from a table.

# What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language):

DML stands for Data Manipulation Language, and it is a subset of SQL that deals with the manipulation and retrieval of data stored in a database. The three main DML commands are:

INSERT:

Used to add new records (rows) into a table.
Example: Inserting a new employee into the "Employees" table.
sql
Copy code
INSERT INTO Employees (ID, Name, Salary, Department)
VALUES (1, 'John Doe', 50000.00, 'IT');
In this example, a new record is inserted into the "Employees" table, providing values for the ID, Name, Salary, and Department columns.

UPDATE:

Used to modify existing records in a table.
Example: Updating the salary for an employee with ID 1 in the "Employees" table.
sql
Copy code
UPDATE Employees
SET Salary = 55000.00
WHERE ID = 1;
This query updates the salary of the employee with ID 1 to 55000.00 in the "Employees" table.

DELETE:

Used to remove records from a table based on a specified condition.
Example: Deleting an employee with ID 1 from the "Employees" table.
sql
Copy code
DELETE FROM Employees
WHERE ID = 1;
The DELETE statement removes the record of the employee with ID 1 from the "Employees" table

# What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) specifically designed for querying and retrieving data from a database. DQL is used to perform queries on a database to retrieve the information you need

The most common DQL statement is the SELECT statement, which is used to retrieve data from one or more tables in a database.

example:
SELECT FirstName, LastName, Salary
FROM Employees
WHERE Salary > 50000;

# Explain Primary Key and Foreign Key.

Primary Key:

A primary key uniquely identifies each record in a table, ensuring:

- Uniqueness: Values must be unique across all records.
- Non-nullability: No NULL values allowed for a consistent identifier.
- Immutability: Values should remain constant to maintain relationships.

It's essential for data integrity and efficient retrieval, typically created during table definition.

Foreign Key:

A foreign key links tables by referencing the primary key of another table, enforcing:

- Referential Integrity: Values in the foreign key must match the referenced primary key or be NULL if optional.
- Relationship Establishment: Connects tables based on dependencies or associations.
- Cascading Actions: Changes in the referenced primary key can impact foreign key relationships, managed through actions like CASCADE or SET NULL.

# Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [2]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
#mycursor.execute("select * from test1.test_table")
mycursor.execute("select c1 ,c5 from test1.test_table")
for i in mycursor.fetchall():
    print(i)

ModuleNotFoundError: No module named 'mysql'

cursor():

The `cursor()` method is used in database programming to create a cursor object, which acts as a pointer to a specific row or set of rows in a database result set. This cursor allows you to interact with the database, execute SQL queries, and fetch or manipulate data.

execute():

The `execute()` method is used with a cursor object to execute a SQL query or command. It takes the SQL statement as a parameter and sends it to the database for execution. This method is essential for performing actions such as retrieving data, updating records, or creating and modifying database structures.

# Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in a SELECT statement (a common SQL query) is as follows:

FROM: Specifies the table or tables from which to retrieve data.

WHERE: Filters the rows based on a specified condition.

GROUP BY: Groups the rows that have the same values in specified columns into summary rows.

HAVING: Filters the results of the GROUP BY clause based on a specified condition.

SELECT: Specifies the columns to be retrieved from the table.

ORDER BY: Sorts the result set based on specified columns in ascending or descending order.